.btn{
    background: none;
    border: none;
    outline: none;
    padding: 5px 20px;
    font-weight: bold;
    font-size: inherit;
    border-radius: 3px;
    cursor: pointer;
    color: while;
}

.btn--primary{
    color: white;
    background-color: hsl(200, 100%, 55%);
}

.btn--primary:hover{
    color: white;
    background-color: hsl(200, 100%, 45%);
}

.btn--danger{
    color: white;
    background-color: hsl(0, 100%, 55%);
}

.btn--danger{
    color: white;
    background-color: hsl(0, 100%, 45%);
}